/.htaccess
/license.txt
/readme.html
/wp-activate.php
/wp-admin
/wp-blog-header.php
/wp-comments-post.php
/wp-config-sample.php
/wp-config.php
/wp-cron.php
/wp-includes
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
/index.php

wp-content/themes/**/assets
wp-content/languages
wp-content/upgrade

wp-content/plugins/**/*
!wp-content/plugins/index.php

wp-content/uploads/**/*
!wp-content/uploads/index.php

wp-content/themes/odin
wp-content/themes/twenty*
