$sidebar-width: 200px

#adminmenuback,
#adminmenuwrap,
#adminmenu,
#adminmenu .wp-submenu
  width: $sidebar-width
  background-color: #23282d

#adminmenu .wp-submenu
  left: $sidebar-width

#wpcontent,
#wpfooter
  margin-left: $sidebar-width

input[type="radio"],
input[type="checkbox"]
  margin-top: -5px
  margin-right: 5px
